* {
  margin: 0;
  padding: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0; */
}

.contain {
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.card {
  width: 800px;
  height: 500px;
  position: relative;
  perspective: 1000px;
}

.left-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: red;
  transform: rotateY(0deg);
  transition: transform 1s;
  transform-origin: left;
}

.right-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: aqua;
  transform: rotateY(0deg);
  transition: transform 1s;
  transform-origin: right;
}

.back-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transform: translateZ(-300px);
  transition: z-index 0.4s step-end, transform 1s;
}

.card:hover .left-side {
  transform: rotateY(-360deg);
}

.card:hover .right-side {
  transform: rotateY(360deg);
}
.card:hover .back-side {
  transform: translateZ(0);
  z-index: 1;
}

/* *********************************************************************************************** */

* {
  box-sizing: border-box;
}
.book-section {
  height: 100vh;
  width: 100%;
  padding: 40px 0;
  text-align: center;
}
.book-section > .container {
  height: 400px;
  width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2%;
  margin-bottom: 30px;
  perspective: 1200px;
}
.container > .right {
  position: absolute;
  height: 100%;
  width: 50%;
  transition: 0.7s ease-in-out;
  transform-style: preserve-3d;
}
.book-section > .container > .right {
  right: 0;
  transform-origin: left;
  border-radius: 10px 0 0 10px;
}
.right > figure.front,
.right > figure.back {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 200%;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-color: white;
  overflow: hidden;
}
.right > figure.front {
  background-position: right;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.2);
}
.right > figure.back {
  background-position: left;
  border-radius: 10px 0 0 10px;
  box-shadow: -2px 2px 15px -2px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
}
.flip {
  transform: rotateY(-180deg);
}
.flip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.book-section > button {
  border: 2px solid red;
  background-color: transparent;
  color: #ef9f0054;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s ease-in-out;
  transform: translateY(-20px);
}
.book-section > button:focus,
.book-section > button:active {
  outline: none;
}
.book-section > p {
  color: rgba(0, 0, 0, 0.7);
  font-family: calibri;
  font-size: 24px;
}
.book-section > p > a {
  text-decoration: none;
  color: #ef9f00;
}
.book-section > button:hover {
  background-color: #cf992c9c;
  color: #fff;
}
.front#cover,
.back#back-cover {
  background-color: #ffcb63;
  font-family: calibri;
  text-align: left;
  padding: 0 30px;
}
.front#cover h1 {
  color: #fff;
}
.front#cover p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
